/* div{
background-color:blue;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 10px 5px 10px 5px;
}
h1{
    padding: 10px 5px 10px 5px;
    color: yellow;
    background-color: black;
    text-align: center;
}
we can also assign css to multiple selectors */
/* h1 , h2 , h3{
    color: blue;
} */
/* types of element selector */
.paragraph-one{
    background-color: blue;
}
.paragraph-two{
    background-color:red;
}
.paragraph-three{
    background-color: brown;
}
/* the another property the css have which is css take last property for same selector element */

.paragraph-one{
    background-color: cadetblue;
}
